.company-list {
    // height: 90%;
    padding: 10px;
}

table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    // min-width: 500px;
}

th.mat-header-cell {
    text-align: left;
    // max-width: 300px;
}

#filter {
    font-size: 14px;
    width: 100%;
}

#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}