<div class="container">

    <p>company-list works!</p>

    <div class="row">
        <button mat-raised-button color="primary" [routerLink]="['create']">
            <mat-icon>add</mat-icon>
            <span> Create</span>
        </button>
    </div>

    <div>
        <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center;">
            <mat-spinner>
            </mat-spinner>
        </div>

        <div class="mat-elevation-z8" *ngIf="!isLoading">
            <mat-table [dataSource]="dataSource" matSort *ngIf="!isLoading">
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> # </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Created Column -->
                <ng-container matColumnDef="createdDate">
                    <th mat-header-cell *matHeaderCellDef> Created </th>
                    <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
                </ng-container>

                <!-- Updated Column -->
                <ng-container matColumnDef="updatedDate">
                    <th mat-header-cell *matHeaderCellDef> Updated </th>
                    <td mat-cell *matCellDef="let element"> {{element.updatedDate}} </td>
                </ng-container>

                <!-- Postcode Column -->
                <ng-container matColumnDef="postcode">
                    <th mat-header-cell *matHeaderCellDef> Postcode </th>
                    <td mat-cell *matCellDef="let element"> {{element.address.postcode}} </td>
                </ng-container>

                <!-- Latitude Column -->
                <ng-container matColumnDef="lat">
                    <th mat-header-cell *matHeaderCellDef> Latitude </th>
                    <td mat-cell *matCellDef="let element"> {{element.address.lat}} </td>
                </ng-container>

                <!-- Longitude Column -->
                <ng-container matColumnDef="lon">
                    <th mat-header-cell *matHeaderCellDef> Longitude </th>
                    <td mat-cell *matCellDef="let element"> {{element.address.lon}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="companyDetails(row)"></tr>

            </mat-table>
            <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons aria-label="Select page of customers"
                *ngIf="!isLoading">
            </mat-paginator>
        </div>
    </div>
</div>


<!-- <div *ngFor="let company of companies">
    <p>{{company | json}}</p>
</div> -->