.company-detail {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-areas:
    'logo . header header header header'
    'menu main main main right right'
    'footer footer footer footer footer footer';
  grid-template-rows: auto 1.5fr auto;
  grid-gap: 10px;
  background-color: #2196F3;
}

.company-detail>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  min-height: 100px;
}

.detail-card {
  text-align: center;
}


.item1 {
  grid-area: header;
}

.item2 {
  grid-area: menu;
}

.item3 {
  grid-area: main;
}

.item4 {
  grid-area: right;
}

.item5 {
  grid-area: footer;
  justify-content: flex-end;
}

.item6 {
  grid-area: logo;
}

img {
  max-width: 100%;
  height: auto; // Maintains aspect ratio for images
}

#mapImage,
#logo {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}