<div class="company-detail">

  <span *ngIf="company">

    <div class="row" style="border: 1px solid red; height: 20vh;">
      <div class="column" style="border: 1px solid yellow;">
        <p>Column 1</p>
      </div>
      <div class="column" style="border: 1px solid orchid;">
        <p>Column 2</p>
      </div>
      <div class="column" style="border: 1px solid green;">
        <p>Column 3</p>
      </div>
    </div>

    <div class="row" style="border: 1px solid blue; height: 20vh;">
      <div class="column" style="border: 1px solid purple;">
        <p>Column 1</p>
      </div>
      <div class="column" style="border: 1px solid olive;">
        <p>Column 2</p>
      </div>
    </div>
    <div class="footer">
      <div class="example-button-row">
      <a mat-raised-button routerLink="..">Back</a>
      <button mat-raised-button color="primary" (click)="editCompany(company.id)">Edit</button>
      </div>
    </div>

    <!-- <mat-card appearance="outlined" class="image-card" *ngIf="company.logo">
      <img mat-card-image src="data:image/png;base64,{{company.logo}}" width="200vw;" height="auto;"/>
    </mat-card>

    <mat-card appearance="outlined" class="detail-card">
      <mat-card-header>
        <mat-card-title>{{company.name}}</mat-card-title>
        <mat-card-content>
    
        </mat-card-content>
        <mat-card-subtitle>
          <p>Created: <small>{{company.createdDate| date : 'long'}}</small></p>
          <p>Updated: <small>{{company.updatedDate| date : 'long'}}</small></p>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card appearance="outlined" class="detail-card">
      <mat-card-header>
        <mat-card-title>Address</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field floatLabel="always" class="static-text">
          <input matInput disabled placeholder="Line 1" value="{{company.address?.line1}}" />
        </mat-form-field>
        <mat-form-field floatLabel="always" class="static-text">
          <input matInput disabled placeholder="Line 2" value="{{company.address?.line2}}" />
        </mat-form-field>
        <mat-form-field floatLabel="always" class="static-text">
          <input matInput disabled placeholder="Line 3" value="{{company.address?.line3}}" />
        </mat-form-field>
        <mat-form-field floatLabel="always" class="static-text">
          <input matInput disabled placeholder="Line 4" value="{{company.address?.line4}}" />
        </mat-form-field>
        <mat-form-field floatLabel="always" class="static-text">
          <input matInput disabled placeholder="County" value="{{company.address?.county}}" />
        </mat-form-field>
        <mat-form-field floatLabel="always" class="static-text">
          <input matInput disabled placeholder="Postcode" value="{{company.address?.postcode}}" />
        </mat-form-field>
      </mat-card-content>
    </mat-card>


    <mat-card appearance="outlined" class="detail-card">
      <mat-card-header>
        <mat-card-title>Employees</mat-card-title>
      </mat-card-header>
      <mat-card-content style="font-size: 15vh; margin-top: 5vh;">
        {{company.employeeCount}}
      </mat-card-content>
    </mat-card> -->

  </span>
</div>