<div id="company-form">

    <div *ngIf="editing && companyDetails;else creating">
        <h2>
            Editing Company {{companyDetails.name}}
        </h2>
    </div>
    <ng-template #creating>
        <h2>Creating Company</h2>
    </ng-template>

    <div *ngIf="companyDetails?.address?.mapImage != null" id="company-map">
        <img [src]="'data:image/jpg;base64,'+ companyDetails!.address!.mapImage" alt="company location" />
    </div>

    <div>
        <img *ngIf="companyDetails?.logo" [src]="'data:image/jpg;base64,'+ companyDetails!.logo" alt="company logo"
            id="company-logo" />
        <button mat-mini-fab color="primary" aria-label="Company Logo Add/Edit" (click)="openLogoDialog()">
            <mat-icon *ngIf="!editing" matTooltip="Add company logo">add</mat-icon>
            <mat-icon *ngIf="editing" matTooltip="Change company logo">create</mat-icon>
        </button>
    </div>


    <form (ngSubmit)="submitCompany()" id="companyForm">
        <ng-container [formGroup]="this.companyForm">
            <mat-form-field>
                <mat-label>Company Name</mat-label>
                <input matInput formControlName="name" required />
            </mat-form-field>
            <ng-container formGroupName="address">
                <mat-form-field>
                    <mat-label>Line 1</mat-label>
                    <input matInput formControlName="line1" required />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Line 2</mat-label>
                    <input matInput formControlName="line2" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Line 3</mat-label>
                    <input matInput formControlName="line3" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Line 4</mat-label>
                    <input matInput formControlName="line4" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Post code</mat-label>
                    <input matInput formControlName="postcode" required [matAutocomplete]="auto" />
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async"
                            (onSelectionChange)="getPostcodeInfo(option)" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>

                </mat-form-field>
                <mat-form-field>
                    <mat-label>County</mat-label>
                    <input matInput formControlName="county" required />
                </mat-form-field>
            </ng-container>
        </ng-container>
        <div class="button-row">
            <button mat-raised-button color="primary" type="submit"
                [disabled]="!companyForm.valid || !companyForm.dirty">Submit</button>
        </div>

    </form>


</div>