<div id="company-form">

    <div *ngIf="editing && companyDetails;else creating">
        <p>
            Editing Company {{companyDetails.name}}
        </p>
    </div>
    <ng-template #creating>Creating Company</ng-template>

    <!-- <div>
        <pre>{{companyDetails | json}}</pre>
    </div> -->

    <!-- <div *ngIf="companyForm.get('address.mapImage') != null">
        <img [src]="'data:image/jpg;base64,'+ companyForm.get('address.mapImage')" style="height:200px;" />
    </div> -->

    <div *ngIf="companyDetails?.address?.mapImage != null">
        <img [src]="'data:image/jpg;base64,'+ companyDetails!.address!.mapImage" style="height:200px;" />
    </div>

    <div *ngIf="companyDetails?.logo">
        <img [src]="'data:image/jpg;base64,'+ companyDetails!.logo" style="height:200px;" />
    </div>

    <form (ngSubmit)="submitCompany()" id="companyForm">
        <ng-container [formGroup]="this.companyForm">
            <mat-form-field>
                <mat-label>Company Name</mat-label>
                <input matInput formControlName="name" required/>
            </mat-form-field>
            <ng-container formGroupName="address">
                <mat-form-field>
                    <mat-label>Line 1</mat-label>
                    <input matInput formControlName="line1" required />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Line 2</mat-label>
                    <input matInput formControlName="line2" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Line 3</mat-label>
                    <input matInput formControlName="line3" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Line 4</mat-label>
                    <input matInput formControlName="line4"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Post code</mat-label>
                    <input matInput formControlName="postcode" required [matAutocomplete]="auto" />
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async"
                            (onSelectionChange)="getPostcodeInfo(option)" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                    
                </mat-form-field>
                <mat-form-field>
                    <mat-label>County</mat-label>
                    <input matInput formControlName="county" required />
                </mat-form-field>
            </ng-container>
        </ng-container>
        <button mat-raised-button color="primary" type="submit" [disabled]="!companyForm.valid">Submit</button>
    </form>


</div>