.admin{
    height: 90vh;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-left: 5%;
}
.detail-card {
    display: flex;
    flex-direction: column;
    min-width: 15vw;
    max-width: 20vw;
    align-content: center;
    align-items: center;
  }

.image-card{
    max-width: 20vh;
    display: flex;
    justify-content: center;
}

.card-row{
    display: flex;
    flex-direction: row;
    padding-top: 2vh;
    justify-content: space-between;
    flex: 1 1 auto;
}

#customer-select{
    background-color: lightgray;
}


table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }