html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.login {
    position: relative;
    /* Ensure the pseudo-element is positioned relative to this container */
    height: 100vh;
    overflow: hidden;
    /* Prevent the pseudo-element from overflowing */
}

.login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../images/hr-analytics-2021-hero-image@2x.jpg') center/cover no-repeat;
    filter: blur(3px);
    /* Apply the blur effect */
    z-index: 0;
    /* Place it behind the content */
}

.flex-container {
    position: relative;
    /* Ensure the form is positioned relative to the container */
    z-index: 1;
    /* Place the form above the blurred background */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-form-field {
    display: block;
}

.mat-mdc-card-header {
    background-color: #00843d;
    text-shadow: black 2px 2px 2px;
    color: white;
    padding: 13px 5px 0 5px !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mat-mdc-card {
    position: relative;
    z-index: 2;
    /* Ensure the card is above the blurred background */
    max-width: 50%;
    width: 25%;
    padding: 0 !important;
    border-radius: 10px;
    background: white;
    /* Optional: Add a background color for better contrast */
}

.mat-mdc-card-content {
    padding: 15px !important;
}

.example-spacer {
    flex-grow: 0.1;
    text-align: center;
}