.user{
    display: flex; 
    align-items: center; 
    justify-content: center;
 }

 mat-card{
    margin: 0 auto;
    width: 30%;
 }

dl > dt{
    color:gray;
    font-size: small;
    text-transform: uppercase;
}

.mat-card-image {
    display: block;
    width: 100%;
    height: auto; /* maintain aspect ratio*/
    margin: auto; /*optional centering of image*/
    max-width: 60%;
}