.user{
    display: flex; 
    align-items: center; 
    justify-content: center;
 }


dl > dt{
    color:gray;
    font-size: small;
    text-transform: uppercase;
}

.mat-mdc-card-image {
    display: block;
    width: 100%;
    height: auto; /* maintain aspect ratio*/
    margin: auto; /*optional centering of image*/
    max-width: 50%;
}
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
mat-card{
    margin: 10px;
    max-width: 90%;
}

.row-50{
    max-height: 50%;
    overflow-x: auto;
    padding: 20px;
}