.user{
    height: 88vh;
    padding-left: 20vw;
    margin: 15px;
 }

 mat-card{
     max-width: 40%;
 }

dl > dt{
    color:gray;
    font-size: small;
    text-transform: uppercase;
}


// .info{
//     word-wrap: normal;
//     width: 100%;
// }