// @import '../../node_modules/@angular/material/theming';

.example-spacer {
  flex: 1 1 auto;
}

#drawer {
  height: 100%;
}

.devon-green {
  color: #00843d;
}

.sidenav-container {
  display: flex;
  flex-direction: column;
  flex: 1; // Allow it to grow and take up remaining space
  min-height: 0; // Prevent overflow caused by child elements
}

.mat-sidenav-container {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.mat-sidenav {
  flex: 0 0 auto;
  height: 100%;
  overflow: auto; // Add scroll bars to the sidenav if content overflows
}

.mat-sidenav-content {
  flex: 1;
  overflow: auto; // Add scroll bars to the content if it overflows
}

router-outlet {
  flex: 1; // Make the router-outlet take up all available height
  display: flex;
  flex-direction: column;
}

.mat-toolbar.mat-primary {
  position: sticky; // Or use 'fixed' if you want it to stay on top even when scrolling
  top: 0;
  z-index: 1000; // Ensure it stays above other elements
}

:host ::ng-deep .footer-buttons {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}

footer {
  display: flex;
  justify-content: center; // Center the mat-icon horizontally
  align-items: center; // Center the mat-icon vertically
  position: absolute; // Stick the footer to the bottom
  bottom: 0;
  width: 100%; // Ensure the footer spans the full width
  height: 60px; // Set a fixed height for the footer
  background-color: #f5f5f5; // Optional: Add a background color
  z-index: 1000; // Ensure it stays above other elements
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); // Optional: Add a shadow for better visibility
}

footer>.mat-list-item {
  display: flex;
  justify-content: center; // Center the button horizontally within the footer
  align-items: center; // Center the button vertically within the footer
  width: 100%;
}