// @import '../../node_modules/@angular/material/theming';

.example-spacer {
  flex: 1 1 auto;
}

#drawer {
  height: 100%;
}

.devon-green {
  color: #00843d;
}

.example-button-row {
  display: table-cell;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

#my-sidenav{
  display: flex;
  align-content: space-between;
}
router-outlet{
  overflow-y: auto;
}
::ng-deep .mat-sidenav-container{
  height: 98%;
}

