<mat-toolbar color="primary" *ngIf="this.tokenStorageService.isLoggedIn">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>Sophies Human Resources</span>
  <span *ngIf="this.role==='Admin' && companyNames">
  </span>
  <span class="example-spacer"></span>
  @if (this.role == 'Admin' || this.role == 'CompanyAdmin') {
  <button mat-icon-button class="example-icon" matTooltip="Company Config" aria-label="Company Config"
    (click)="companyConfig()">
    <mat-icon>settings_applications</mat-icon>
  </button>
  }
  <button mat-icon-button class="example-icon" matTooltip="View my account" aria-label="View my account"
    (click)="viewProfile()">
    <mat-icon>account_box</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Log Out" matTooltip="Log Out" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" [ngClass]="{'full-height': !this.tokenStorageService.isLoggedIn}"
  autosize>
  <mat-sidenav #drawer class="sidenav" mode="side" [opened]="(this.tokenStorageService.isLoggedIn)">
    @switch (this.role!) {
    @case ('Admin') {
    <mat-nav-list>
      <mat-list-item>
        <button mat-button class="menu-button" routerLink="/admin">
          <mat-icon>home</mat-icon>
          <span> Home</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button class="menu-button" routerLink="/company/list">
          <mat-icon>business</mat-icon>
          <span> Companies</span>
        </button>
      </mat-list-item>
    </mat-nav-list>
    }
    @case('Manager'){
    <ng-container *ngTemplateOutlet="managerShared" />
    }
    @case ('CompanyAdmin') {
    <ng-container *ngTemplateOutlet="managerShared" />
    }
    @case ('User') {
    <mat-nav-list>
      <mat-list-item>
        <button mat-button class="menu-button" routerLink="/user">
          <mat-icon>home</mat-icon>
          <span> Home</span>
        </button>
      </mat-list-item>
    </mat-nav-list>
    }
    }

    <ng-template #managerShared>
      <mat-nav-list>
        <mat-list-item>
          <button mat-button class="menu-button" routerLink="/manager">
            <mat-icon>home</mat-icon>
            <span> Home</span>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button class="menu-button" [routerLink]="['/user/add']">
            <mat-icon>person_add</mat-icon>
            <span> Add Employee</span>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </ng-template>

    <mat-nav-list>
      <footer>
        <mat-list-item>
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>chevron_left</mat-icon>
          </button>
        </mat-list-item>
      </footer>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>