
<div id="app">
  <mat-toolbar color="primary" *ngIf="isLoggedIn">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon (click)="drawer.toggle()">menu</mat-icon>
    </button>
    <span>Sophies Human Resources</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="viewProfile()">
      <mat-icon>account_box</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <span *ngIf="this.role=='Admin'">
        <p>Admin Options</p>
        <div class="example-button-row">
          <a mat-raised-button routerLink="/admin"><mat-icon>home</mat-icon>Home</a>
          
        </div>
            
      </span>
      <span *ngIf="this.role =='Manager'">
        Manager Options
      </span>
      <span *ngIf="this.role =='User'">
        User Options
      </span>
    </mat-drawer>
    <router-outlet></router-outlet>  
  </mat-drawer-container>
  
</div>


  