<div class="user-form">
    <div *ngIf="!loading">
        <form [formGroup]="userForm" (ngSubmit)="submit(userForm)">
            <div>
                <label for="avatar">Avatar: </label>
                <input id="avatar" type="file" class="form-control" accept=".jpg,.png" (change)="onFileChange($event)">
            </div>
            <span *ngIf="imageSrc">
                <img [src]="imageSrc" class="avatar">
            </span>
            <div>
                <mat-form-field class="FiftyPercentInput">
                    <mat-label>Company</mat-label>
                    <mat-select formControlName="companyId" (selectionChange)="companyChange()">
                        <mat-option *ngFor="let company of companies" [value]="company?.key">
                            {{company.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="column">
                    <mat-label>Username</mat-label>
                    <span matPrefix>
                        <mat-icon>account_box</mat-icon>
                    </span>
                    <input matInput placeholder="UserName" formControlName="userName" #nameInput [readonly]="editing">
                    <mat-hint>Your username</mat-hint>
                    <mat-error>Username is required</mat-error>
                </mat-form-field>

                <mat-form-field class="column">
                    <input type="text" placeholder="Job Title" formControlName="jobTitle" matInput
                        [matAutocomplete]="auto">
                    <mat-spinner *ngIf="gettingTitles" matSuffix diameter="16"
                        style="display: inline-flex"></mat-spinner>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error>Job title is required</mat-error>
                    <!-- <mat-label>Job Title</mat-label>
                        <input matInput placeholder="Job Title" formControlName="jobTitle" #jobTitleInput>
                        <mat-hint>Job Title</mat-hint>
                        <mat-error>Job Title is required</mat-error> -->
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="column">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name" formControlName="firstName" #firstNameInput>
                    <mat-hint>First Name</mat-hint>
                    <mat-error>First Name is required</mat-error>
                </mat-form-field>
                <mat-form-field class="column">
                    <mat-label>Middle Name</mat-label>
                    <input matInput placeholder="Middle Name" formControlName="middleName" #middleNameInput>
                    <mat-hint>Middle Name</mat-hint>
                </mat-form-field>
                <mat-form-field class="column">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Surname" formControlName="lastName" #lastNameInput>
                    <mat-hint>Last Name</mat-hint>
                    <mat-error>Last Name is required</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <!-- Drop downs -->
                <mat-form-field class="column">
                    <mat-label>Title</mat-label>
                    <mat-select formControlName="title" (selectionChange)="updateTitle($event)">
                        <mat-option *ngFor="let title of titles" [value]="title">
                            {{title}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Title is required</mat-error>
                </mat-form-field>

                <mat-form-field class="column">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option>None</mat-option>
                        <mat-option value="Male">Male</mat-option>
                        <mat-option value="Female">Female</mat-option>
                        <mat-option value="Other">Other</mat-option>
                    </mat-select>
                    <mat-error>Gender is required</mat-error>
                </mat-form-field>
                <mat-form-field class="column">
                    <mat-label>Leave Allowance</mat-label>
                    <input matInput placeholder="Leave Allowance" formControlName="holidayAllowance" #leaveInput>
                    <mat-hint>Leave Allowance in days</mat-hint>
                    <mat-error>Leave Allowance is required</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="column">
                    <mat-label>Personal Email</mat-label>
                    <input matInput placeholder="Personal Email" formControlName="personalEmailAddress"
                        #personalEmailAddressInput>
                    <mat-hint>Personal Email</mat-hint>
                </mat-form-field>
                <mat-form-field class="column">
                    <mat-label>Work Email</mat-label>
                    <input matInput placeholder="Work Email" formControlName="workEmailAddress" #workEmailAddressInput>
                    <mat-hint>Work Email</mat-hint>
                    <mat-error>Work Email is required</mat-error>
                </mat-form-field>
                <mat-form-field class="column">
                    <mat-label>Personal Mobile Number</mat-label>
                    <input matInput placeholder="Personal Mobile Number" formControlName="personalMobileNumber"
                        #personalMobileNumberInput>
                    <mat-hint>Personal Mobile Number</mat-hint>
                </mat-form-field>

            </div>
            <div class="row">
                <mat-form-field class="column">
                    <mat-label>Work Phone Number</mat-label>
                    <input matInput placeholder="Work Phone Number" formControlName="workPhoneNumber"
                        #workPhoneNumberInput>
                    <mat-hint>Work Phone Number</mat-hint>
                </mat-form-field>
                <mat-form-field class="column">
                    <mat-label>Work Mobile Number</mat-label>
                    <input matInput placeholder="Work Mobile Number" formControlName="workMobileNumber"
                        #workMobileNumberInput>
                    <mat-hint>Work Mobile Number</mat-hint>
                </mat-form-field>
                <mat-form-field class="column">
                    <mat-label>Phone Number</mat-label>
                    <input matInput placeholder="Work Email" formControlName="phoneNumber" #phoneNumberInput>
                    <mat-hint>Phone Number</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="column">
                    <mat-label>DoB</mat-label>
                    <input matInput [matDatepicker]="dobpicker" formControlName="dateOfBirth">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="dobpicker"></mat-datepicker-toggle>
                    <mat-datepicker #dobpicker></mat-datepicker>
                    <mat-error>Date of Birth is required</mat-error>
                </mat-form-field>
                <mat-form-field class="column">
                    <mat-label>Start Of Employment</mat-label>
                    <input matInput [matDatepicker]="soepicker" formControlName="startOfEmployment">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="soepicker"></mat-datepicker-toggle>
                    <mat-datepicker #soepicker></mat-datepicker>
                    <mat-error>Start Of Employment is required</mat-error>
                </mat-form-field>

            </div>
            <div formGroupName="address" class="row">
                <mat-form-field class="column">
                    <mat-label>Line 1</mat-label>
                    <input matInput placeholder="Line 1" formControlName="line1" #line1Input>
                    <mat-hint>Address Line 1</mat-hint>
                    <mat-error>Address Line 1 is required</mat-error>
                </mat-form-field>
                <mat-form-field class="column">
                    <mat-label>Line 2</mat-label>
                    <input matInput placeholder="Line 2" formControlName="line2" #line2Input>
                    <mat-hint>Address Line 2</mat-hint>
                </mat-form-field>
                <mat-form-field class="column">
                    <mat-label>Line 3</mat-label>
                    <input matInput placeholder="Line 3" formControlName="line3" #line3nput>
                    <mat-hint>Address Line 3</mat-hint>
                </mat-form-field>
            </div>
            <div formGroupName="address" class="row">
                <mat-form-field class="column">
                    <mat-label>Line 4</mat-label>
                    <input matInput placeholder="Line 4" formControlName="line4" #line4Input>
                    <mat-hint>Address Line 4</mat-hint>
                </mat-form-field>
                <mat-form-field class="column">
                    <mat-label>Post Code</mat-label>
                    <input matInput placeholder="Post Code" formControlName="postcode" #postcodeInput>
                    <mat-hint>Address Post Code</mat-hint>
                    <mat-error *ngIf="addressControls['postcode'].errors?.['pattern']">Invalid format</mat-error>
                    <mat-error>Address Post Code is required</mat-error>
                </mat-form-field>
                <mat-form-field class="column">
                    <mat-label>County</mat-label>
                    <input matInput placeholder="County" formControlName="county" #countyInput>
                    <mat-hint>Address County</mat-hint>
                    <mat-error>Address County is required</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="column">
                    <mat-label>Manager</mat-label>
                    <mat-select formControlName="managerId">
                        <mat-option *ngFor="let manager of managers" [value]="manager.id">
                            {{manager.firstName}} {{manager.lastName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="departments" class="column">
                    <mat-label>Department</mat-label>
                    <mat-select formControlName="departmentId">
                        <mat-option *ngFor="let dept of departments" [value]="dept.id">
                            {{dept.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="column">
                    <mat-label>Passport Number</mat-label>
                    <input matInput placeholder="Passport Number" formControlName="passportNumber" #passportNumberInput>
                    <mat-hint>Passport Number</mat-hint>
                    <mat-error *ngIf="userFormControl['passportNumber'].errors?.['pattern']">Invalid format</mat-error>
                </mat-form-field>
                <mat-form-field class="column">
                    <mat-label>National Insurance Number</mat-label>
                    <input matInput placeholder="National Insurance Number" formControlName="nationalInsuranceNumber"
                        #nationalInsuranceNumberInput>
                    <mat-hint>National Insurance Number</mat-hint>
                    <mat-error *ngIf="userFormControl['nationalInsuranceNumber'].errors?.['pattern']">Invalid
                        format</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <button type="submit" mat-raised-button color="primary">Save</button>
                <button mat-raised-button routerLink="..">Back</button>
            </div>

            <!-- <div *ngFor="let err in userForm?.errors">{{err}}</div> -->
            <!-- <pre class="row">{{userForm?.value|json}}</pre> -->
        </form>

    </div>

</div>