.user-form{
    display: flex; 
    align-items: center; 
    justify-content: center;
}

form{
    margin: 0 auto;

}

.avatar{
    padding:2px;
    max-width: 20vw;
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid black;
}
