.add-user-form{
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    padding-left: 5%;
}

.avatar{
    padding:2px;
    max-width: 20vw;
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid black;
}
