// __<<ngM2ThemingMigrationEscapedComment0>>__
// // Import material theming functions
// @use '@angular/material' as mat;

// // Copy the palettes from your selected theme (usually theme.scss).
// $app-primary: mat-palette($mat-grey);
// $app-accent:  mat-palette($mat-light-blue);
// $app-warn:    mat-palette($mat-pink);

// // Create your Sass color vars (will be available in all the project)
// $primary: mat-color($app-primary);
// $accent: mat-color($app-accent);
// $warn: mat-color($app-warn);

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full-height {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
  // border: 1px red dashed; // <-- Just for debugging
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  // border: 1px blue dashed; // <-- Just for debugging
}

.mat-mdc-snack-bar-container {
  &.success-snackbar {
    --mat-snackbar-container-color: green;
    --mat-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #f7f7f7;
  }
}

.mat-mdc-snack-bar-container {
  &.error-snackbar {
    --mdc-snackbar-container-color: red;
    --mat-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #f7f7f7;
  }
}

.mat-mdc-snack-bar-container {
  &.warn-snackbar {
    --mdc-snackbar-container-color: #fff3cd;
    --mat-snack-bar-button-color: black;
    --mdc-snackbar-supporting-text-color: #856404;
  }
}

.container {
  padding: 10px;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidenav-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  /* Full height of the viewport */
}