.manager {
    height: 90vh;
    margin: 15px;
}

.image-card {
    max-width: 30vh;
    display: flex;
    justify-content: center;
}

.card {
    max-width: 30vh;
    align-items: center;
}

.th{
    font-weight:700;
}
.table {
    width: 100%;

    table {
        width: 100%;
    }
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }