.manager {
    // height: 90vh;
    margin: 15px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    flex-grow: 0;
    align-self: auto;
    box-shadow: 10px 5px 5px lightgray;

    mat-card {
        padding: 1em;
    }
}

.centre-card {
    display: grid;
    justify-items: center;
}

.image-card {
    max-width: 30vh;
    display: flex;
    justify-content: center;
}

.th {
    font-weight: 700;
}

.table {
    width: 100%;

    table {
        width: 100%;
    }
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}

.companyMap {
    width: 100%;
    // max-width: max-content;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.card-table {
    width: 100%;
    padding: 5px;
}