.manager {
    height: 90vh;
    margin: 15px;
}

.image-card {
    max-width: 20vh;
    display: flex;
    justify-content: center;
}

// .card {
//     max-width: 20vh;
// }

.table {
    width: 100%;

    table {
        width: 100%;
    }
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }